
.notifications {
  padding: 10px 15%;
  width: 100%;
}

.Message {
  display: table;
  position: relative;
  margin: 5px auto 0;
  width: 100%;
  color: #0a0a27;
  border: 1px solid rgb(25, 82, 204);
  border-radius: 20px;
  background-color: hsla(222, 70%, 90%, 0.874);
  transition: all 0.2s ease;
  
  &.is-hidden {
    opacity: 0;
    height: 0;
    font-size: 0;
    padding: 0;
    margin: 0 auto;
    display: block;
  }
}

  .Message-icon {
    display: table-cell;
    vertical-align: middle;
    width: 60px;
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(92, 180, 227, 0.5);
    
    >i {
      width: 20px;
      font-size: 20px;
      color: #ffffffcd;
    }
  }
  .pink {
    background-color: rgba(211, 74, 168, 0.644);
  }
  .yellow {
    background-color: rgba(235, 238, 35, 0.768);
  }
  .grey {
    background-color: rgba(152, 152, 152, 0.644);
  }
  .orange {
    background-color: rgba(218, 117, 35, 0.745);
  }
  .red {
    background-color: rgba(198, 58, 58, 0.681);
  }
  .green {
    background-color: rgba(86, 176, 72, 0.5);
  }
  .golden {
    background-color: rgba(227, 174, 50, 0.766);
  }
  .brown {
    background-color: rgba(151, 81, 40, 0.681);
  }
  .Message-body {
    display: table-cell;
    vertical-align: middle;
    padding: 30px 20px 30px 10px;
    
    > p {
      line-height: 1.2;
      margin-top: 6px;
    }
  }

  .Message-button {
    position: relative;
    margin: 15px 5px -10px;
    background-color: rgba(105, 114, 147, 0.25);
    box-shadow: 0 3px rgba(0, 0, 0, 0.4);
    border:none;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 16px;
    font-family: 'Source Sans Pro';
    color: #fff;
    outline: none;
    cursor: pointer;
    
    &:hover {
      background: rgba(176, 72, 72, 0.5);
    }
 
    &:active {
      background: rgba(0, 0, 0, 0.3);
      box-shadow: 0 0px rgba(0, 0, 0, 0.4);
      top: 3px;
    }
  }

  .read {
    position: absolute;
    color: #87a674;
    border: none;
    outline: none;
    font-size: 16px;
    right: 5px;
    top: 5px;
    opacity: 0;
    cursor: pointer;
    
    .Message:hover & {
      opacity: 1;
    }
    &:hover {
      color: #51a895;
    }
    &.seen {
      opacity: 1;
      cursor: unset;
      &:hover {
          color: #87a674;
      }
  }

  }

.u-italic {
  font-style: italic;
}