
  <div class="notifications">
  <div class="Message">
    <div class="Message-icon">
      <i class="fa fa-comment-o"></i>
    </div>
    <div class="Message-body">
      <p><a href="#">utilisateur</a> a commenté sur votre projet <a href="#">projet 1</a></p>
    </div>
    <button class="Message-close js-messageClose"><i class="fa fa-times"></i></button>
  </div>
  
  
  <div class="Message">
    <div class="Message-icon green">
      <i class="fa fa-check"></i>
    </div>
    <div class="Message-body">
      <p>Votre proposition du projet <a href="#">projet 2</a> a été accepté !</p>
      <p>Votre projet est maintenant publié.</p>
    </div>
    <button class="Message-close js-messageClose"><i class="fa fa-times"></i></button>
  </div>
  
  <div class="Message">
    <div class="Message-icon red">
      <i class="fa fa-times"></i>
    </div>
    <div class="Message-body">
      <p>Votre proposition du projet <a href="#">projet 3</a> a été refusé !</p>
      <button class="Message-button" id="js-helpMe">modifier et reproposer</button>
      <button class="Message-button js-messageClose">supprimer proposition</button>
    </div>
    <button class="Message-close js-messageClose"><i class="fa fa-times"></i></button>
  </div>
  
  <div class="Message">
    <div class="Message-icon satisfaction">
      <i class="fa fa-thumbs-o-up"></i>
    </div>
    <div class="Message-body">
      <p><a href="#">utilisateur</a> est satisfé de travailler avec vous !</p>
    </div>
    <button class="Message-close js-messageClose"><i class="fa fa-times"></i></button>
  </div>
  
  <div class="Message">
    <div class="Message-icon dissatisfaction">
      <i class="fa fa-thumbs-o-down"></i>
    </div>
    <div class="Message-body">
      <p><a href="#">utilisateur</a> est dissatisfé de travailler avec vous !</p>
    </div>
    <button class="Message-close js-messageClose"><i class="fa fa-times"></i></button>
  </div>
</div>