
  <div class="notifications">
  <div class="Message" *ngFor="let n of notifications">
    <div [ngClass]="notificationService.getClass(n.type!)">
      <i [ngClass]="notificationService.getIcon(n.type!)"></i>
    </div>
    <div class="Message-body" [innerHTML]="n.content"></div>
    <button *ngIf="n.seen" class="read seen"><i class="fa fa-check"></i></button>
    <button *ngIf="!n.seen" class="read" (click)="markAsRead(n)"><i class="fa fa-check"></i></button>
  </div>
</div>
<div class="empty" *ngIf="notifications?.length == 0">Aucune notification disponible</div>