<div class="profile-container">
        <div class="menu-box block"> <!-- MENU BOX (LEFT-CONTAINER) -->
            <h2 class="titular">Les services les plus demandés</h2>
            <ul class="menu-box-menu">
                <li>
                    <a class="menu-box-tab" href="#6">
                        développement web
                    </a>                            
                </li>
                <li>
                    <a class="menu-box-tab" href="#8">
                        maintenance web
                    </a>                            
                </li>
                <li>
                    <a class="menu-box-tab" href="#10">
                        APIs et integrations
                    </a>                            
                </li>                      
            </ul>
        </div>

        <div class="profile block"> <!-- PROFILE (MIDDLE-CONTAINER) -->
            <a class="add-button" href="#28"><span class="icon entypo-plus scnd-font-color"></span></a>
            <div class="profile-picture big-profile-picture clear">
                <img width="150px" src="../../assets/icons/defaultuser.png" >
            </div>
            <h1 class="user-name">Nom Recruteur</h1>
            <div class="profile-description">
                <p class="scnd-font-color">description Recruteur</p>
            </div>
            <ul class="profile-options horizontal-list">
                <li class="missions">53<br> <img title="projets" src="../../assets/icons/projet.png" width="30px"></li>
                <li class="likes">41<br> <img title="satisfactions" src="../../assets/icons/satisfaction.png" width="30px"></li>
                <li class="dislikes">4<br> <img title="dissatisfactions" src="../../assets/icons/dissatisfaction.png" width="30px"></li>
            </ul>
        </div>

        <div class="join-newsletter block"> <!-- JOIN NEWSLETTER (RIGHT-CONTAINER) -->
            <h2 class="titular">Contact</h2>
            <ul class="social"> <!-- SOCIAL (MIDDLE-CONTAINER) -->
                <li><a href="#50"><div class="facebook icon"><img src="../../assets/icons/facebook.png" width="40px"></div><h2 class="facebook titular">FACEBOOK</h2></a></li>
                <li><a href="#51"><div class="twitter icon"><img src="../../assets/icons/twitter.png" width="40px"></div><h2 class="twitter titular">TWITTER</h2></a></li>
                <li><a href="#52"><div class="google icon"><img src="../../assets/icons/google.png" width="40px"></div><h2 class="google titular">GOOGLE</h2></a></li>
            </ul>
        </div>
</div>
