<div class="filters">
  <div>
    <label>Domaine :</label>&nbsp;&nbsp;
    <select>
      <option>Tous</option>
      <option>IT</option>
      <option>Comptabilité</option>
      <option>Influence</option>
    </select>
  </div>
  <div>
    <label>catégorie :</label>&nbsp;&nbsp;
    <select>
      <option>Tous</option>
      <option>categorie 1</option>
      <option>categorie 2</option>
      <option>categorie 3</option>
    </select>
  </div>
  <input type="text" placeholder="chercher un projet ..." />
</div>
<div class="projects">
  <div class="project">
    <div class="project-header">
      <a routerLink="../projet" class="title">creation d'un siteweb</a>
      <p class="date">publié le 6 janvier 2024</p>
    </div>
    <div>
        <p class="description">description: sdf sdf ljjlk hjhjb jlkl. dsfsdsq f fsdf reg fsqdf, ttr erth zrt.trgfgf, trt tg rggff rtgtrhthgg.</p>
        <ul class="services">
            <li class="service">développement web</li>
            <li class="service">développement web</li>
            <li class="service">développement web</li>
        </ul>
    </div>
    <div class="infos">
        <img src="../../assets/icons/defaultuser.png">
      <p>11 propositions</p>
    </div>
  </div>
  <div class="project">
    <div class="project-header">
      <a routerLink="['../projet']" class="title">creation d'un siteweb</a>
      <p class="date">publié le 1 janvier 2024</p>
    </div>
    <div>
        <p class="description">description: sdf sdf ljjlk hjhjb jlkl. dsfsdsq f fsdf reg fsqdf, ttr erth zrt.trgfgf, trt tg rggff rtgtrhthgg.</p>
        <ul class="services">
            <li class="service">développement web</li>
            <li class="service">développement web</li>
            <li class="service">développement web</li>
        </ul>
    </div>
    <div class="infos">
    <img src="../../assets/icons/defaultuser.png">
      <p>11 propositions</p>
    </div>
  </div>
  <div class="project">
    <div class="project-header">
      <a routerLink="['../projet']" class="title">creation d'un siteweb</a>
      <p class="date">publié le 1 janvier 2024</p>
    </div>
    <div>
        <p class="description">description: sdf sdf ljjlk hjhjb jlkl. dsfsdsq f fsdf reg fsqdf, ttr erth zrt.trgfgf, trt tg rggff rtgtrhthgg.</p>
        <ul class="services">
            <li class="service">développement web</li>
            <li class="service">développement web</li>
            <li class="service">développement web</li>
        </ul>
    </div>
    <div class="infos">
    <img src="../../assets/icons/defaultuser.png">
      <p>11 propositions</p>
    </div>
  </div>
  <div class="project">
    <div class="project-header">
      <a routerLink="['../projet']" class="title">creation d'un siteweb</a>
      <p class="date">publié le 1 janvier 2024</p>
    </div>
    <div>
        <p class="description">description: sdf sdf ljjlk hjhjb jlkl. dsfsdsq f fsdf reg fsqdf, ttr erth zrt.trgfgf, trt tg rggff rtgtrhthgg.</p>
        <ul class="services">
            <li class="service">développement web</li>
            <li class="service">développement web</li>
            <li class="service">développement web</li>
        </ul>
    </div>
    <div class="infos">
    <img src="../../assets/icons/defaultuser.png">
      <p>5 propositions</p>
    </div>
  </div>
</div>
