<div class="filters">
  <div>
    <label>Domaine :</label>&nbsp;&nbsp;
    <select [(ngModel)]="domain" (change)="getCategories()">
      <option *ngFor="let d of domains" [value]="d">{{d}}</option>
    </select>
  </div>
  <div>
    <label>catégorie :</label>&nbsp;&nbsp;
    <select [disabled]="domain=='Tous'" [(ngModel)]="category" (change)="getProjects()">
      <option>Tous</option>
      <option *ngFor="let c of categories" [value]="c.name">{{c.name}}</option>
    </select>
  </div>
  <input type="text" placeholder="chercher un projet ..." [(ngModel)]="searchValue" (ngModelChange)="search()"/>
</div>
<div class="empty" *ngIf="projects.length == 0">Aucun Projet</div>
<div class="projects">
  <div class="project" *ngFor="let p of projects">
    <div class="project-header">
      <a [routerLink]="['projet/',p.id]" class="title">{{p.title}}</a>
      <p class="date">publié {{ p.publishedAt | date: 'à HH:mm, le yyyy/MM/dd' }}</p>
    </div>
    <div>
        <p class="description">{{p.description.substr(0,200)}}<a [routerLink]="['projet/',p.id]">...</a></p>
        <ul class="services">
          <li *ngFor="let c of p.categories.split(',')" class="service">{{c}}</li>
      </ul>
    </div>
    <a class="infos" [routerLink]="['/profile/',p.proposerId]">
        <img [src]='["../../assets/images/users/" + p.proposerId+ ".jpg"]' onerror="this.src='../../assets/icons/defaultuser.png'" [title]="p.proposerName">
    </a>
  </div>
</div>
