<div class="container" id="container">
    <div class="overlay-container">
        <h2>Bienvenue de nouveau!</h2>
        <p>Connectez-vous pour accéder à votre compte</p>
        <button routerLink="/compte/connexion" class="ghost" id="signIn">connecter</button>
    </div>
    <div class="form-container">
        <form action="#">
            <h1>Créer un compte</h1>
            <input type="text" placeholder="Nom" />
            <input type="email" placeholder="Email" />
            <input type="password" placeholder="mot de passe" />
            <input type="password" placeholder="vérifier mot de passe" />
            <button routerLink="/compte/creation2">S'inscrire</button>
        </form>
    </div>
</div>