.main-section {
    padding: 100px 10px;
}

.section-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;

input {
    font-size: 14px;
    width: 350px;
    height: 50px;
    color: #859098;
    border-radius: 20px;
    text-transform: capitalize;
    font-weight: 500;
    padding-left: 10px;
    margin: 10px;
}
.add {
    background: #2e5077;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    padding: 5px;
    border: none;
    width: 200px;
    height: 40px;
    margin: 10px;
}
.add:hover {
    background-color: #43658d;
    color: #a5b9cf;
}
}

.exit {
    position: relative;
    left: 95%;
    font-size: 20px;
    color: #a45d5d;
}

h3 {
    color: aliceblue;
}
.project-type {
    font-size: 20px;
}
.project {
    display: flex;
    justify-content: space-between;
    background-color: hsla(218, 45%, 76%, 0.9);
    border-radius: 15px;
    margin: 10px;
    padding: 10px 20px 20px 10px;
    color: #1F253D;
}
.project-header {
    padding-left: 10px;
    min-width: 150px;
    max-width: 70%;
}
.project p {
    color: gray;
    font-size: 12px;
}
.project .title {
    font-size: 140%;
    color: #6370a0;
}
.project .description {
    color: #1F253D;
    font-size: 15px;
    margin: 5px 10px 20px;
}
.services {
    display: flex;
    flex-wrap: wrap;

}
li.service {
    background-color:#628ec7;
    color: aliceblue;
    border-radius: 20px;
    margin: 5px;
    padding: 8px;
    min-width: 70px;
    height: max-content;
    text-align: center;
}

.infos {
    text-align: end;
}


.checkbox-button-group {
  }

  .checkbox-button {
    display: inline-block;
    margin-right: 10px;
    margin-top: -30px;
  }

  .checkbox-button input {
    position: relative;
    top: 45px;
    left: 30%;
    width: 40px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
  }

  .checkbox-button label {
    display: block;
    padding: 10px 15px;
    font-size: 12px;
    border: 1px solid #091522;
    color: #091522;
  }
  .checkbox-button.cat label{
    border-radius: 5px;
  }


  .checkbox-button.cat input:checked ~ label, .skill input:checked ~ label{
    background-color: #1d3b5c;
    color: #ffffff;
  }

  .addcat {
    font-size: 15px;
  }