<div>
    <div class="section-header">
        <input type="text" placeholder="chercher un projet...">
        <button class="add">+ proposer un projet</button>
    </div>
    <a class="project-type">Projets Publiés</a>
    <div class="published projects">
        <div class="project">
            <div class="project-header">
                <a [routerLink]="['../projet']" class="title">creation d'un siteweb</a>
                <p class="date">publié le 6 janvier 2024</p>
            </div>
            <div>
                <p class="description">description: sdf sdf ljjlk hjhjb jlkl. dsfsdsq f fsdf reg fsqdf, ttr erth
                    zrt.trgfgf, trt tg rggff rtgtrhthgg.</p>
                <ul class="services">
                    <li class="service">développement web</li>
                    <li class="service">développement web</li>
                    <li class="service">développement web</li>
                </ul>
            </div>
            <div class="infos">
                <a href="#"><span>+</span></a>
                <p>11 propositions</p>
            </div>
        </div>
        <div class="project">
            <div class="project-header">
                <a [routerLink]="['../projet']" class="title">creation d'un siteweb</a>
                <p class="date">publié le 1 janvier 2024</p>
            </div>
            <ul class="services">
                <li class="service">développement web</li>
                <li class="service">développement web</li>
                <li class="service">développement web</li>
                <li class="service">développement web</li>
            </ul>
            <div class="infos">
                <a href="#"><span>+</span></a>
                <p>11 propositions</p>
            </div>
        </div>
    </div>
    <a class="project-type">Projets Proposés</a>
    <div class="proposed projects">
        <div class="project">
            <div class="project-header">
                <a [routerLink]="['../projet']" class="title">creation d'un siteweb</a>
                <p class="date">proposé le 5 janvier 2024</p>
            </div>
            <div>
                <p class="description">description: sdf sdf ljjlk hjhjb jlkl. dsfsdsq f fsdf reg fsqdf, ttr erth
                    zrt.trgfgf, trt tg rggff rtgtrhthgg.</p>
                <ul class="services">
                    <li class="service">développement web</li>
                    <li class="service">développement web</li>
                    <li class="service">développement web</li>
                </ul>
            </div>
            <div class="infos">
                <a href="#"><span>+</span></a>
            </div>
        </div>
        <div class="project">
            <div class="project-header">
                <a [routerLink]='["projet"]' class="title">creation d'un siteweb</a>
                <p class="date">proposé le 15 janvier 2024</p>
            </div>
            <ul class="services">
                <li class="service">développement web</li>
                <li class="service">développement web</li>
                <li class="service">développement web</li>
                <li class="service">développement web</li>
            </ul>
            <div class="infos">
                <a href="#"><span>+</span></a>
            </div>
        </div>
    </div>
    <a class="project-type">Projets Terminés</a>
    <div class="finished projects">
        <div class="project">
            <div class="project-header">
                <a [routerLink]='["projet"]' class="title">creation d'un siteweb</a>
                <p class="date">publié le 5 novembre 2023</p>
                <p class="date">terminé le 15 janvier 2024</p>
            </div>
            <ul class="services">
                <li class="service">développement web</li>
                <li class="service">développement web</li>
            </ul>
            <div class="infos">
                <a href="#"><span>+</span></a>
            </div>
        </div>
        <div class="project">
            <div class="project-header">
                <a [routerLink]='["projet"]' class="title">creation d'un siteweb</a>
                <p class="date">publié le 1 janvier 2024</p>
                <p class="date">terminé le 19 janvier 2024</p>
            </div>
            <ul class="services">
                <li class="service">développement web</li>
                <li class="service">développement web</li>
                <li class="service">développement web</li>
                <li class="service">développement web</li>
            </ul>
            <div class="infos">
                <a href="#"><span>+</span></a>
            </div>
        </div>
    </div>
    <a class="project-type">Projets Refusés</a>
    <div class="proposed projects">
        <div class="project">
            <div class="project-header">
                <a [routerLink]='["projet"]' class="title">creation d'un siteweb</a>
                <p class="date">proposé le 5 janvier 2024</p>
            </div>
            <div>
                <p class="description">description: sdf sdf ljjlk hjhjb jlkl. dsfsdsq f fsdf reg fsqdf, ttr erth
                    zrt.trgfgf, trt tg rggff rtgtrhthgg.</p>
                <ul class="services">
                    <li class="service">développement web</li>
                    <li class="service">développement web</li>
                    <li class="service">développement web</li>
                </ul>
            </div>
            <div class="infos">
                <a href="#"><span>+</span></a>
            </div>
        </div>
        <div class="project">
            <div class="project-header">
                <a [routerLink]='["projet"]' class="title">creation d'un siteweb</a>
                <p class="date">proposé le 15 janvier 2024</p>
            </div>
            <ul class="services">
                <li class="service">développement web</li>
                <li class="service">développement web</li>
                <li class="service">développement web</li>
                <li class="service">développement web</li>
            </ul>
            <div class="infos">
                <a href="#"><span>+</span></a>
            </div>
        </div>
    </div>
</div>