<div class="container" id="container">
    <div class="full-container">
        <h1>Choisir un domaine</h1>
        <div class="choices">
            <div class="choice">
                <img src="assets/icons/domains/IT.png" width="50px">
                <h3><a (click)="chooseDomain('it')">IT</a></h3>
            </div>
            <div class="choice">
                <img src="assets/icons/domains/Comptabilité.png" width="50px">
                <h3><a (click)="chooseDomain('comptabilité')">Comptabilité</a></h3>
            </div>
            <div class="choice">
                <img src="assets/icons/domains/Influence.png" width="50px">
                <h3><a (click)="chooseDomain('influence')">Influence</a></h3>
            </div>
        </div>
    </div>
</div>
