.section {
    min-height: 800px;
}
.profile {
    position: fixed;
    top: 10px;
    right: 25px;
    z-index: 10;
    text-align: center;
    margin-left: 150px;

    img {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        border: 2px solid gray;
        margin-bottom: 2px;
    }

    h5 {
        font-size: 13px;
        color: gray;
    }

    ul{
        display: none;
        width: 150px;
        position: relative;
        padding: 2px;
        background: rgba(178, 188, 217, 0.9);
        border-radius: 15px;
        transition: ease-in-out 0.2s;

        li {
            margin-top: 5px;
            border-radius: 7px;
            padding: 5px;

            &:hover {
                background-color: rgba(109, 121, 157, 0.8);
            }
            a {
                color: rgb(20, 39, 55);
                cursor: pointer;
            }
        }
      }

      &:hover > ul{
        display: block;
        transition: ease-in 0.2s;
      }
}