.section {

}
.profile {
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 10;
    text-align: center;
    margin-left: 150px;

    img {
        width: 35px;
        height: 35px;
        border-radius: 20px;
        border: 2px solid gray;
        margin-bottom: 2px;
    }

    h5 {
        font-size: 13px;
        color: gray;
    }

    ul{
        display: none;
        width: 150px;
        position: relative;
        padding: 2px;
        background: rgba(30, 41, 75, 0.9);
        border-radius: 15px;

        li {
            margin-top: 5px;
            border-radius: 7px;
            padding: 5px;

            &:hover {
                background-color: rgba(58, 66, 91, 0.8);
            }
            a {
                color: rgb(163, 169, 174);
                cursor: pointer;
            }
        }
      }

      &:hover > ul{
        display: block;
      }
}