
    <div class="project-page">
        <div class="header">
            <a (click)="goBack()"><span class="goback"><</span></a>
            <div class="options" *ngIf="user?.id! == project.proposerId">
                <a data-toggle="collapse" href="#options"><span>...</span></a>
                <ul id="options" class="panel-collapse collapse">
                    <li *ngIf="project.status=='publié'"><button (click)="options.finishProject(project)"><i class="fa fa-check"></i> marquer comme terminé</button></li>
                    <li><button (click)="options.editProject(project)"><i class="fa fa-pencil"></i> modifier</button></li>
                    <li><button (click)="options.deleteProject(project.id!)"><i class="fa fa-trash"></i> supprimer</button></li>
                </ul>
            </div>
        </div>
        <div class="single project">
            <div class="project-header">
                <a  *ngIf="user?.id! != project.proposerId" class="owner" [routerLink]="['/profile/',project.proposerId]">
                    <img [src]='["../../../assets/images/users/" + project.proposerId + ".jpg"]' onerror="this.src='../../../assets/icons/defaultuser.png'">
                    <p>{{project.proposerName}}</p>
                </a>
                <h3 class="title">{{project.title}}</h3>
                <p *ngIf="project.status=='proposé' || project.status=='refusé'">proposé {{ project.proposedAt | date: 'à HH:mm, le yyyy/MM/dd' }}</p>
                <p *ngIf="project.status=='publié' || project.status=='terminé'">publié {{ project.publishedAt | date: 'à HH:mm, le yyyy/MM/dd' }}</p>
                <p *ngIf="project.status=='terminé'">terminé le {{ project.finishedAt | date: 'à HH:mm, le yyyy/MM/dd' }}</p>
            </div>
            <div>
                <p class="description">{{project.description}}</p>
                <h5>catégories :</h5>
                <ul class="services">
                    <li *ngFor="let c of project.categories.split(',')" class="service">{{c}}</li>
                </ul>
            </div>
            <div *ngIf="project.status=='publié' || project.status=='terminé'" class="infos">
                <p>{{proposedServices!.length}} propositions</p>
            </div>
        </div>
        <div class="propositions" *ngIf="project.status=='publié' || project.status=='terminé'">
            <div *ngIf="user && user.type=='Fournisseur'" class="proposition">
                <div class="proposer">
                    <img [src]='["../../../assets/images/users/" + user.id + ".jpg"]' onerror="this.src='../../../assets/icons/defaultuser.png'">
                    <div class="user-info">
                        <h4>{{user.name}}</h4>
                        <p>proposer un service </p>
                    </div>
                </div>
                <a data-toggle="collapse" href="#comment"><span class="add action">+</span></a>
                <div id="comment" class="comment panel-collapse collapse">
                    <textarea placeholder="mon service..." [(ngModel)]="service.description"></textarea>
                    <h5>mes compétances :</h5>
                    <div class="checkbox-button-group">
                        <div *ngFor="let s of skills;let i=index;" class="checkbox-button skill">
                            <input type="checkbox" [(ngModel)]="checkedSkills![i]" (ngModelChange)="updateSelectedSkills()" name="skill">
                            <label>{{replace(s)}}</label>
                        </div>
                        <div class="addskill">
                            <input type="text" [(ngModel)]="newSkill">
                            <button (click)="addSkill()">+</button>
                        </div>
                    </div>
                    <button class="btn btn-primary submit" [disabled]="disable()" (click)="proposeService()">proposer</button>
                </div>
            </div>
            <div class="proposition" *ngFor="let p of proposedServices;">
                <div class="proposer" >
                    <a [routerLink]="['/profile/',p.proposerId]"><img [src]='["../../../assets/images/users/" + p.proposerId + ".jpg"]' onerror="this.src='../../../assets/icons/defaultuser.png'" width="50px"></a>
                    <div class="user-info">
                        <h4>{{p.proposerName}}</h4>
                        <p>{{p.proposedAt | date: 'à HH:mm, le yyyy/MM/dd' }}</p>
                    </div>
                </div>
                <div class="comment">
                    <p>{{p.description}}</p>
                    <h5>Compétances :</h5>
                    <ul class="proposed services">
                        <li class="service" *ngFor="let s of p.skills.split(' ')">{{replace(s)}}</li>
                    </ul>
                </div>
                <a class="action choose" *ngIf="user?.id! == project.proposerId"><i class="fa fa-check"></i></a>
                <a class="action remove" *ngIf="user?.id! == project.proposerId"><i class="fa fa-remove"></i></a>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':options.displayStyle}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="card">
                        <button type="button" (click)="options.closeProjectForm()" class="exit">X</button>
                        <h2 class="card-header">Modification du projet</h2><br>
                            <div class="card-body">
                                <form (ngSubmit)="options.submitEditProjectForm()">
                                    <div class="form-group">
                                        <label for="titre">Titre:</label>
                                        <input name="titre" required class="form-control" [(ngModel)]="options.project.title">
                                    </div>
                                    <div class="form-group">
                                        <label for="desc">Description :</label>
                                        <textarea rows="15" name="desc" required class="form-control"  [(ngModel)]="options.project.description">description ....</textarea>
                                    </div>
                                    <label>Catégories:</label>
                                    <div class="form-group checkbox-button-group">
                                        <div *ngFor="let c of options.categories;let i=index;" class="checkbox-button cat">
                                            <div *ngIf="!project.categories?.includes(c.name)">
                                                <input type="checkbox" [(ngModel)]="options.checkedCategories[i]" (ngModelChange)="options.updateSelectedCategories()" name="category">
                                                <label>{{c.name}}</label>
                                            </div>
                                        </div>
                                        <div *ngFor="let c of (options.project?.categories ? options.project?.categories?.split(',') : []);let i=index;" class="checkbox-button cat" (change)="options.removeCategory(c)">
                                            <input type="checkbox" checked name="category">
                                            <label>{{c}}</label>
                                        </div>
                                        <div class="checkbox-button cat">
                                            <label><button data-toggle="collapse" href="#addcategories" class="addcat">+</button></label>
                                        </div>
                                        <div id="addcategories" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <label for="domaine">Domaine(s):</label><br>
                                                <div *ngFor="let d of options.domains;let i=index;"><input type="checkbox" [(ngModel)]="options.checkedDomains[i]" (ngModelChange)="options.getCategories()" name="domaine">&nbsp;{{d}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="alert alert-danger" role="alert" *ngIf ="options.alert">
                                        <strong>Échec !</strong> {{options.alert}}
                                    </div>
                                    <div class="alert alert-success" role="alert" *ngIf ="options.success">
                                        <strong>Succès !</strong> {{options.success}}
                                    </div>
                                    <button type="submit" class="btn btn-primary">modifier</button>
                                </form>
                            </div>
                    </div>
                </div>
            </div>