.project-page {
  padding: 10px 30px;
}
h5 {
  margin-top: 20px;
  color: #30374f;
  font-size: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
}
.header span {
  color: #636f99;
  font-size: 25px;
  cursor: pointer;
  margin: -10px -20px;
  &:hover {
    color: rgb(57, 182, 186);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}
.goback {
  letter-spacing: -5px;
}
.project.single {
  background-color: hsla(0, 0%, 100%, 0.692);;
  flex-direction: column;
  padding: 2%;
  margin: 0;
}
.info {
    p {
        text-align: left;
    }
}
.project .owner {
    position: absolute;
    text-align: center;
    right: 50px;
  img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border: 2px solid #30374f;
  }
  p {
    position: relative;
  }
}

.project .description {
  margin-top: 5%;
  padding-left: 5%;
}
.project .services {
  margin-top: 10px;
  width: 100%;
}
.service {
  position: relative;
}
.service #add {
  color: #636f99;
  font-size: 130%;
}

.action {
  display: none;
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 18px;
  opacity: 0.5;
  cursor: pointer;

  &.accept {
    color: rgb(49, 139, 16);
    right: 30px;
    &.chosen {
      right: 10px;
    }
  }

  &.refuse {
    color: rgb(139, 16, 37);
  }

  &.chosen, &:hover {
    opacity: 1;
    display: inline;
  }
}
.eval {
  position: absolute;
  right: 20px;
  bottom: 10px;
  cursor: pointer;
  &.like {
    right: 40px;
  }
  &:hover {
    font-size: 18px;
  }
  &.chosen {
    font-size: 18px;
  }
}
.add {
  display: inline;
  color: rgb(11, 29, 45);
  font-size: 20px;
}
.proposition:hover .action {
  display: inline;
}

.propositions {
  margin: 2%;
}
.proposition {
  position: relative;
  background-color:  rgba(214, 221, 239, 0.8);
  border-radius: 15px;
  border: 2px solid #747887;
  padding: 2%;
  margin-top: 2%;
}
.proposer {
  width: 300px;
  margin-bottom: 5px;
  padding: 0 0 5px 10px;
  border-bottom: 1px solid #c5c5db;
  border-left: 1px solid #c5c5db;
  border-radius: 10px;
  a {
    display: inline;
  }
  img {
    float: left;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    border: 2px solid #747887;
  }
}
.user-info {
  margin-left: 60px;
}
.user-info h4 {
  margin: 5px;
}
.user-info p {
  color: rgb(18, 18, 19);
  font-size: 15px;
  font-style: italic;
}
.comment {
  margin: 10px;
}
.comment p {
  color: rgb(73, 76, 78);
}

textarea {
  background-color: hsl(211deg 100% 97.8% / 40%);
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  width: 100%;
  height: 100px;
}

.skill {

  label {
    border-radius: 20px;
  }
}

.addskill {
  margin-top: 10px;
  button {
    border: 1px solid hsla(211, 64%, 13%, 0.9);
    border-radius: 15px;
    padding: 0px 10px;
    font-size: 18px;
    margin-left: 20px;
    height: 30px;
    &:hover {
      color: aliceblue;
      background-color: hsla(211, 64%, 13%, 0.9);
    }
  }

  input {
    width: 80px;
    height: 30px;
    background-color: rgb(217, 229, 240);
    border-radius: 20px;
    color: #30374f;
    padding-left: 4px;
    margin: 0;
    transition: 0.5s;
    &:hover,
    &:focus {
      width: 150px;
      transition: 0.5s;
    }
  }
}

.submit {
  position: relative;
  left: 100%;
  margin-left: -100px;
}
