input {
    font-size: 14px;
    min-width: 200px;
    width: 30%;
    height: 40px;
    color: #859098;
    border-radius: 20px;
    text-transform: capitalize;
    font-weight: 500;
    padding-left: 10px;
}
.service {
    background-color: hsla(218, 45%, 76%, 0.9);
    border-radius: 15px;
    margin: 10px;
    padding: 10px 20px 20px 10px;
    color: #1F253D;
}
.date {
    color: gray;
    font-size: 12px;
}
.description {
    padding: 10px;
}
.skills {
    display: flex;
    flex-wrap: wrap;
}
.project {
    text-align: end;
    align-self: self-end;
    width: 100%;
    text-decoration: underline;
}
.options {
    position: relative;
    top: -10px;
}
.status {
    font-style: italic;
    &.green {
        color: rgb(20, 109, 20);
    }
    &.red {
        color: rgb(164, 30, 30);
    }
}