<form class="welcome-hero-form">
    <input type="text" placeholder="chercher un service ..." [(ngModel)]="searchValue" name="search" (ngModelChange)="search()"/>
    <div class="domaine">
        domaine :&nbsp;&nbsp;
        <select (change)="changeDomain()" [(ngModel)]="domain" name="domaine">
            <option value="" selected></option>
            <option value="IT">IT</option>
            <option value="Comptabilité">Comptabilité</option>
            <option value="Influence">Influence</option>
        </select>
    </div>
</form>
<div class="empty" *ngIf="services.length == 0">Aucun service disponible</div>
<div class="services">
    <div class="service" *ngFor="let s of services">
        <a class="info" [routerLink]="['/profile',s.proposer.id]">
            <img [src]="'../../assets/images/users/' + s.proposer.id + '.jpg'" onerror="this.src='../../assets/icons/defaultuser.png'">
            <h5>{{s.proposer.name}}</h5>
        </a>
        <div style="width:80%">
            <p class="desc">{{s.description}}</p>
            <h5>compétences :</h5>
            <ul class="skills">
                <li *ngFor="let c of ( s.skills ? s.skills.split(' ') : [])">{{replace(c)}}</li>
            </ul>
        </div>
    </div>
</div>