<form class="welcome-hero-form">
    <input type="text" placeholder="chercher un service ..." />
    <button class="welcome-hero-btn">
      chercher <i data-feather="search"></i>
    </button>
    <div class="domaine">
        domaine :&nbsp;&nbsp;
        <select>
            <option value="it">IT</option>
            <option value="comptabilité">Comptabilité</option>
            <option value="influence">Influence</option>
        </select>
    </div>
</form>
<div class="sliderBox categories">
    <button type="button" class="left fa fa-chevron-left"></button>
    <div class="sliderWrap">
      <ul class="sliderContent">
        <li class="category" routerLinkActive="active"><a routerLink="/services/domaine/categorie"><img src="../../assets/icons/it.png"><h5>categorie</h5></a></li>
        <li class="category" routerLinkActive="active"><a routerLink="/services/domaine/categorie"><img src="../../assets/icons/it.png"><h5>categorie</h5></a></li>
        <li class="category" routerLinkActive="active"><a routerLink="/services/domaine/categorie"><img src="../../assets/icons/it.png"><h5>categorie</h5></a></li>
        <li class="category" routerLinkActive="active"><a routerLink="/services/domaine/categorie"><img src="../../assets/icons/it.png"><h5>categorie</h5></a></li>
        <li class="category" routerLinkActive="active"><a routerLink="/services/domaine/categorie"><img src="../../assets/icons/it.png"><h5>categorie</h5></a></li>
        <li class="category" routerLinkActive="active"><a routerLink="/services/domaine/categorie"><img src="../../assets/icons/it.png"><h5>categorie</h5></a></li>
        <li class="category" routerLinkActive="active"><a routerLink="/services/domaine/categorie"><img src="../../assets/icons/it.png"><h5>categorie</h5></a></li>
        <li class="category" routerLinkActive="active"><a routerLink="/services/domaine/categorie"><img src="../../assets/icons/it.png"><h5>categorie</h5></a></li>
        <li class="category" routerLinkActive="active"><a routerLink="/services/domaine/categorie"><img src="../../assets/icons/it.png"><h5>categorie</h5></a></li>
        <li class="category" routerLinkActive="active"><a routerLink="/services/domaine/categorie"><img src="../../assets/icons/it.png"><h5>categorie</h5></a></li>
        <li class="category" routerLinkActive="active"><a routerLink="/services/domaine/categorie"><img src="../../assets/icons/it.png"><h5>categorie</h5></a></li>
        <li class="category" routerLinkActive="active"><a routerLink="/services/domaine/categorie"><img src="../../assets/icons/it.png"><h5>categorie</h5></a></li>
      </ul>
    </div>
    <button type="button" class="right fa fa-chevron-right"></button>
</div>
<div class="services">
    <div class="service">
        <a class="info" routerLink="/profile">
            <img src="../../assets/icons/defaultuser.png">
            <h5>nom fournisseur</h5>
            40 <i class="fa fa-thumbs-up"></i>
        </a>
        <div>
            <p class="desc">dfgdf dqfgdf qdfgqdf gqdfgdg dqgqdg qdffgdqg qdffgdg dgdqg .gfg , yyt htrhh .Mon Service</p>
            <h5>compétances</h5>
            <ul class="skills">
                <li>compétance</li>
                <li>compétance</li>
                <li>compétance</li>
                <li>compétance</li>
                <li>compétance</li>

            </ul>
        </div>
    </div>
    <div class="service">
        <a class="info" routerLink="/profile">
            <img src="../../assets/icons/defaultuser.png">
            <h5>nom fournisseur</h5>
            40 <i class="fa fa-thumbs-up"></i>
        </a>
        <div>
            <p class="desc">dfgdf dqfgdf qdfgqdf gqdfgdg dqgqdg qdffgdqg qdffgdg dgdqg .gfg , yyt htrhh .Mon Service</p>
            <h5>compétances</h5>
            <ul class="skills">
                <li>compétance</li>
                <li>compétance</li>
                <li>compétance</li>
                <li>compétance</li>
                <li>compétance</li>

            </ul>
        </div>
    </div>
    <div class="service">
        <a class="info" routerLink="/profile">
            <img src="../../assets/icons/defaultuser.png">
            <h5>nom fournisseur</h5>
            40 <i class="fa fa-thumbs-up"></i>
        </a>
        <div>
            <p class="desc">dfgdf dqfgdf qdfgqdf gqdfgdg dqgqdg qdffgdqg qdffgdg dgdqg .gfg , yyt htrhh .Mon Service</p>
            <h5>compétances</h5>
            <ul class="skills">
                <li>compétance</li>
                <li>compétance</li>
                <li>compétance</li>
                <li>compétance</li>
                <li>compétance</li>
            </ul>
        </div>
    </div>
    <div class="service">
        <a class="info" routerLink="/profile">
            <img src="../../assets/icons/defaultuser.png">
            <h5>nom fournisseur</h5>
            40 <i class="fa fa-thumbs-up"></i>
        </a>
        <div>
            <p class="desc">dfgdf dqfgdf qdfgqdf gqdfgdg dqgqdg qdffgdqg qdffgdg dgdqg .gfg , yyt htrhh .Mon Service</p>
            <h5>compétances</h5>
            <ul class="skills">
                <li>compétance</li>
                <li>compétance</li>
                <li>compétance</li>
                <li>compétance</li>
                <li>compétance</li>
            </ul>
        </div>
    </div>
    <div class="service">
        <a class="info" routerLink="/profile">
            <img src="../../assets/icons/defaultuser.png">
            <h5>nom fournisseur</h5>
            40 <i class="fa fa-thumbs-up"></i>
        </a>
        <div>
            <p class="desc">dfgdf dqfgdf qdfgqdf gqdfgdg dqgqdg qdffgdqg qdffgdg dgdqg .gfg , yyt htrhh .Mon Service</p>
            <h5>compétances</h5>
            <ul class="skills">
                <li>compétance</li>
                <li>compétance</li>
                <li>compétance</li>
                <li>compétance</li>
                <li>compétance</li>
            </ul>
        </div>
    </div>
</div>