<div class="main-container">
    <header class="block">
        <ul class="header-menu horizontal-list">
            <li>
                <a class="header-menu-tab" routerLink="compte" routerLinkActive="active">Compte</a>
            </li>
            <li>
                <a class="header-menu-tab" routerLink="mes-projets" routerLinkActive="active">Projets</a>
            </li>
            <li>
                <a class="header-menu-tab" routerLink="notifications" routerLinkActive="active">Notifications</a>
                <a class="header-menu-number">5</a>
            </li>
        </ul>
    </header>
    <router-outlet></router-outlet>
</div>
