<div class="main-container">
    <!-- HEADER -->
    <header class="block">
        <ul class="header-menu horizontal-list">
            <li>
                <a class="header-menu-tab" href="#1"><span class="icon entypo-cog scnd-font-color"></span>Compte</a>
            </li>
            <li>
                <a class="header-menu-tab" href="#2"><span class="icon fontawesome-user scnd-font-color"></span>Projets</a>
            </li>
            <li>
                <a class="header-menu-tab" href="#5"><span class="icon fontawesome-star-empty scnd-font-color"></span>Notifications</a>
                <a class="header-menu-number" href="#4">5</a>
            </li>
        </ul>
    </header>
    <section>
        <div class="options">
            <a href="#"><span class="goback">&#129128;</span></a>
            <a href="#"><span>+</span></a>
        </div>
        <div class="single project">
            <div class="project-header">
                <h4 class="title">creation d'un siteweb</h4>
                <p class="date">publié le 6 janvier 2024</p>
            </div>
            <div class="description">
                <p>dfjfiljdslkfjskldjsdjvd dsfjsdjfdsf sfjsskdf jfks sjfhskjjf sfjkf sjfkjf sdfjjls dljflks ljfld fjlfksdjfmlkj ldkjflsl kljf.lsjfl j jn ljd,sdjljfld.jjfjfqsjkodfj kljdf kjf   kjfml mljf .</p>
            </div>
            <div>
                <h5>Services demandés :</h5>
                <ul class="services">
                    <li class="service">développement web<a class="action remove" href="#4">x</a></li>
                    <li class="service">développement web<a class="action remove" href="#4">x</a></li>
                    <li class="service">développement web<a class="action remove" href="#4">x</a></li>
                    <li class="service"><a id="add" href="#">+</a></li>
                </ul>
            </div>
            <div class="infos">
                <p>3 propositions</p>
            </div>
        </div>
        <div class="propositions">
            <div class="proposition">
                <div class="proposer">
                    <img src="assets/icons/defaultuser.png" width="50px">
                    <div class="user-info">
                        <h4>user name</h4>
                        <p>a travaillé sur 12 projets, a 8 satisfactions</p>
                    </div>
                </div>
                <div class="comment">
                    <p>jdjfkj ljk ljl klj lk, j ljj ljl lkjm ueuijno.ijfj jmvnc nennb.<br>kljk lmkjklj ljkl lkjlkj ljk.</p>
                    <h5>Services proposés :</h5>
                    <ul class="proposed services">
                        <li class="service">développement web<a class="action choose" href="#4">v</a></li>
                        <li class="service">développement web<a class="action choose" href="#4">v</a></li>
                    </ul>
                </div>
                <a href="#kl"><span class="delete">x</span></a>
            </div>
            <div class="proposition">
                <div class="proposer">
                    <img src="assets/icons/defaultuser.png" width="50px">
                    <div class="user-info">
                        <h4>user name</h4>
                        <p>a travaillé sur 12 projets, a 8 satisfactions</p>
                    </div>
                </div>
                <div class="comment">
                    <p>jdjfkj ljk ljl klj lk, j ljj ljl lkjm ueuijno.ijfj jmvnc nennb.<br>kljk lmkjklj ljkl lkjlkj ljk.</p>
                    <h5>Services proposés :</h5>
                    <ul class="proposed services">
                        <li class="service">développement web<a class="action choose" href="#4">v</a></li>
                        <li class="service">développement web<a class="action choose" href="#4">v</a></li>
                    </ul>
                </div>
                <a href="#kl"><span class="delete">x</span></a>
            </div>
            <div class="proposition">
                <div class="proposer">
                    <img src="assets/icons/defaultuser.png" width="50px">
                    <div class="user-info">
                        <h4>user name</h4>
                        <p>a travaillé sur 12 projets, a 8 satisfactions</p>
                    </div>
                </div>
                <div class="comment">
                    <p>jdjfkj ljk ljl klj lk, j ljj ljl lkjm ueuijno.ijfj jmvnc nennb.<br>kljk lmkjklj ljkl lkjlkj ljk.</p>
                    <h5>Services proposés :</h5>
                    <ul class="proposed services">
                        <li class="service">développement web<a class="action choose" href="#4">v</a></li>
                        <li class="service">développement web<a class="action choose" href="#4">v</a></li>
                    </ul>
                </div>
                <a href="#kl"><span class="delete">x</span></a>
            </div>
        </div>
