<!--welcome-hero start -->
<section id="home" class="welcome-hero">
    <div class="container">
      <div class="welcome-hero-txt">
        <h2>La meilleure platforme pour connecter les demandeurs et les fournisseurs des services</h2>
        <p>
          Trouvez et offrez les services dont vous avez besoin dans les domaines de l'IT, de la comptabilité et de
          l'influence.
        </p>
      </div>
      <form class="welcome-hero-form">
        <input type="text" placeholder="chercher un service..." />
        <button class="welcome-hero-btn">
          chercher <i data-feather="search"></i>
        </button>
      </form>
    </div>
  
  </section><!--/.welcome-hero-->
  <!--welcome-hero end -->
  
  <!--list-topics start -->
  <section id="list-topics" class="list-topics">
    <div class="container">
      <div class="list-topics-content">
        <ul>
          <li>
            <div class="single-list-topics-content">
              <div class="single-list-topics-icon">
                <img src="assets/icons/it.png" width="50px">
              </div>
              <h2><a routerLink="/services/it">IT</a></h2>
              <p>150 services</p>
            </div>
          </li>
          <li>
            <div class="single-list-topics-content">
              <div class="single-list-topics-icon">
                <img src="assets/icons/comptabilité.png" width="50px">
              </div>
              <h2><a routerLink="/services/comptabilité">comptabilité</a></h2>
              <p>214 services</p>
            </div>
          </li>
          <li>
            <div class="single-list-topics-content">
              <div class="single-list-topics-icon">
                <img src="assets/icons/influence.png" width="50px">
              </div>
              <h2><a routerLink="/services/influence">influence</a></h2>
              <p>185 services</p>
            </div>
          </li>
        </ul>
      </div>
    </div><!--/.container-->
  
  </section><!--/.list-topics-->
  <!--list-topics end-->
  
  <!--works start -->
  <section id="works" class="works">
    <div class="container">
      <div class="section-header">
        <h2>Pourquoi choisissez-nous ?</h2>
        <p>Découvrez une plateforme innovante qui connecte les talents des domaines IT, influence et comptabilité. Nous
          simplifions la recherche et la fourniture de services, offrant une solution efficace pour répondre à vos besoins
          professionnels.</p>
      </div><!--/.section-header-->
      <div class="works-content">
        <div class="row">
          <div class="col-sm-6">
            <div class="single-how-works">
              <div class="single-how-works-icon">
                <i class="flaticon-lightbulb-idea"></i>
              </div>
              <h2><a routerLink="/projets">découvrez nos Projets</a></h2>
              <p>
                trouvez des offres exclusives proposés par nos recruteurs.
              </p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="single-how-works">
              <div class="single-how-works-icon">
                <i class="flaticon-networking"></i>
              </div>
              <h2><a routerLink="/services">découvrer nos fournisseurs</a></h2>
              <p>
                Trouvez des fournisseurs qualifiés prêts à répondre à vos demandes.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div><!--/.container-->
  
  </section><!--/.works-->
  <!--works end -->
  
  <!-- statistics strat -->
  <section id="statistics" class="statistics">
    <div class="container">
      <div class="statistics-counter">
        <div class="col-md-3 col-sm-6">
          <div class="single-ststistics-box">
            <div class="statistics-content">
              <div class="counter">90 </div> <span>K+</span>
            </div><!--/.statistics-content-->
            <h3>services</h3>
          </div><!--/.single-ststistics-box-->
        </div><!--/.col-->
        <div class="col-md-3 col-sm-6">
          <div class="single-ststistics-box">
            <div class="statistics-content">
              <div class="counter">40</div> <span>k+</span>
            </div><!--/.statistics-content-->
            <h3>recruteurs</h3>
          </div><!--/.single-ststistics-box-->
        </div><!--/.col-->
        <div class="col-md-3 col-sm-6">
          <div class="single-ststistics-box">
            <div class="statistics-content">
              <div class="counter">65</div> <span>k+</span>
            </div><!--/.statistics-content-->
            <h3>visiteurs</h3>
          </div><!--/.single-ststistics-box-->
        </div><!--/.col-->
        <div class="col-md-3 col-sm-6">
          <div class="single-ststistics-box">
            <div class="statistics-content">
              <div class="counter">50</div> <span>k+</span>
            </div><!--/.statistics-content-->
            <h3>clients satisfaits</h3>
          </div><!--/.single-ststistics-box-->
        </div><!--/.col-->
      </div><!--/.statistics-counter-->
    </div><!--/.container-->
  
  </section><!--/.counter-->
  <!-- statistics end -->
