<div class="container" id="container">
    <div class="full-container">
        <h1>Choisir un profil</h1>
        <div class="choices">
            <div class="choice">
                <img src="assets/icons/fournisseur.png" width="50px">
                <h3><a (click)="ChooseF()">Fournisseur du service</a></h3>
            </div>
            <div class="choice">
                <img src="assets/icons/demandeur.png" width="50px">
                <h3><a (click)="ChooseD()">demandeur du service</a></h3>
            </div>
        </div>
    </div>
</div>
